@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Black.ttf');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'Courgette';
  src: url('../assets/fonts/Courgette-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.ttf');
}

body {
  position: relative;
  margin: 0; height: 100vh;
  background: #efefef;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 60px;
  background: #7986CB;

  position: relative;
}

.tutorial {
  position: absolute;
  width: 100%;
  height: 60px;
  display: table;
}

.tutorial p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  font-family: 'Courgette';
  color: #fff;
}

#Container {
  position: relative;
  top: 15px;
  width: 100vw;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
}

@media only screen and (max-width: 480px) {
  header {
    display: none;
  }

  #Container {
    top: 0;
    -webkit-flex-direction: column;
  }
}

.codeInput {
  min-width: 360px;
  width: calc(50% - 50px);
  margin: 12px auto 12px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

label {
  width: calc(100% - 20px);
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: #444;
  color: #eee;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

label button {
  outline: none;
  border: none;
  width: 75px; height: 50px;
  float: right;
  background: #e57373;
  color: #eee;
  font-size: 14px;
  font-family: 'Oswald';
  cursor: pointer;
}

.CodeMirror pre {
  font-size: 15px;
  font-family: 'Source Code Pro';
}

.codeOutput {
  height: 350px;
  display: inline-block;
  min-width: 360px;
  width: calc(50% - 50px);
  margin: 12px auto 12px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.generate {
  outline: none;
  border: none;
  min-width: 360px;
  width: 100%;
  height: 50px;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
  background: #81C784;
  color: #eee;
  font-family: 'Oswald';
}

.frameWrapper {
  min-width: 360px;
  width: calc(50% - 50px);
  display: inline-block;
  position: relative;
  margin: 12px auto auto auto;
}

.frameWrapper:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.result {
  border: none;
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%;
}
